[submodule "batcontrol/src"]
	path = batcontrol/src
	url = https://github.com/ohAnd/batcontrol.git
[submodule "trmnl_server/src"]
	path = trmnl_server/src
	url = https://github.com/ohAnd/trmnlServer.git
[submodule "eos_connect/src"]
	path = eos_connect/src
	url = https://github.com/ohAnd/EOS_connect.git
[submodule "eos/eos"]
	path = eos/eos
	url = https://github.com/Akkudoktor-EOS/EOS.git
